*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section-start{
  height: 500px;
  background-image: url(./Imagenes/fondo-principal.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
}

body a img{
  width: 40%;
}
.section-start article{
  text-align: center;
  color: white;
  padding-top: 20%;
  padding-left: 50%;
}
.section-start article figure img{
  width: 20%;
}
.section-start article p{
  font-size: 1.7rem;
}

#section-home{
  display: none;
  background-image: url(./Imagenes/fondo-question.jpg);
  background-size: cover;
  background-repeat: no-repeat; 
  height: 500px;
}

#section-home::before{
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

#section-home .select{
  width: 30%;
}
#questions{
  color: white;
  position: relative;
  margin: 10% 40% auto 5%;
}



/* .bodyprincipal {
  font-family:Verdana,sans-serif;font-size:0.9em;
  padding: 2em;
  background-color: #87CEFA;
  background-image: url("Imagenes/Trivia.png");
}
header { margin:5px;margin-bottom:15px;padding:8px;
  font-family: Arial, Helvetica, sans-serif;
  color:blue
}
footer {
  font-style:italic;
  font-size:0.8em;
}
section {
  margin-left:25px;
  ont-style:normal;
  background-color:lightgrey;
}
article {
  margin-left:25px;
  font-style:normal;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  background-color:#ddd;
}
nav ul {
  margin:0;padding:0; background-color:#a44
}
nav ul li {
  display:inline; margin:15px;
}
p {
  color:black;
}  */
